<% content_for :bottom do %>
  <%= javascript_include_tag "script" %>
<% end %>

<main>
  <div id="pictures">
    <p>Picture</p>
  </div>

  <div id="contents">
    <div class="item">
      <a href="/pansywalk">
        <div class="card" id="walk">
          <p>パンジーウォーク</p>
          <div id="text-box-walk">
            <p>農園に直接来園されて、<br>お好きな色のパンジーを必要なだけ<br>ご自分で選んで掘っていただく<br>いわゆる観光農園形式の直売。<br>毎年１１月１日より一ヶ月間ほど開園しています。</p>
          </div>
        </div>
      </a>


    </div>

    <div class="item">
      <div class="card" id="del">
        <p>パンジーデリバリー</p>
        <div id="text-box-del">
          <p>ご来園できない方のための宅配便（ヤマト宅急便）<br>を利用した通信販売</p>
        </div>
      </div>

    </div>
  </div>

  <div id="news">
    <p>NEWS</p>
  </div>


</main>
