html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

header{
  height:90px;
  background-color:rgba(#000080,0.93);
  color:#fff;
  width:100%;
  position: fixed;
  top:0;
}

#header-logo{
  float:left;
  font-size:36px;
  padding:20px 30px;
}

#header-list{
  float:right;

  li{
    float:left;
    padding:33px 13px;
    &:hover{
      background-color:#000080;
    }
  }
}

main{
  width:100%;
  padding-top:90px;
}

#pictures{
  text-align:center;
  font-size:100px;
  padding:180px 0;
  border-bottom:2px #dee7ec solid;
}

#contents{
  width:80%;
  height:500px;
  margin:0 auto;
  padding:50px 0 50px 0;
}

.item{
  width:50%;
  height:500px;
  float:left;
  text-align:center;
}

.card{
  margin:0 auto;
  width:80%;
  height:500px;
  background-color:#000080;
  color:white;
  &:hover{
    background-color:darken(#000080,8%)
  }
  p{
    font-size:30px;
    padding-top: 25px;
  }
}

#news{
  border-top:2px #dee7ec solid;
  border-bottom:2px #dee7ec solid;
  height:300px;
  p{
    font-size:30px;
    padding:50px 50px;
  }
}

.text-box{
padding-top:100px;
display:none;
  p{
    font-size:18px;
  }
}


footer{
  width:100%;
  height:300px;
  background-color:#808080;
  color:white;

}
#adress{
  float:right;
  width:400px;
  text-align:center;
  line-height: 30px;
  letter-spacing: 5px;
  padding:20px 30px 0 0;
}


#footer-list{
  width:150px;
  padding:20px 0 0 20px;
  line-height:40px;
  li{
    &:hover{
      background-color: darken(#808080,10%)
    }
  }
}
